<div class="container w-100 h-100">
  <a-scene
    #aFrameScene
    mindar-image="imageTargetSrc: https://firebasestorage.googleapis.com/v0/b/avividlogo-dev.appspot.com/o/alin%40qoffice.ro%2Fmind_OAI5UiF2eWreafkI5vXH.mind?alt=media&token=7c605f28-cf44-4434-9fdf-af5d58d11298; autoStart: false; uiLoading: no; uiError: no; uiScanning: no;"
    color-space="sRGB"
    embedded
    renderer="colorManagement: true, physicallyCorrectLights"
    vr-mode-ui="enabled: false"
    device-orientation-permission-ui="enabled: false">
    <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>

    <a-entity mindar-image-target="targetIndex: 0">
      <a-plane
        color="blue"
        opaciy="0.5"
        position="0 0 0"
        height="0.552"
        width="1"
        rotation="0 0 0"></a-plane>
    </a-entity>
  </a-scene>
</div>
