<div class="mb-1" fxLayout="row" fxLayoutAlign="flex-start center">
  <button routerLink="/overlays" mat-button>
    {{ 'ui.overlays.addEditOverlay.overlays' | translate }}
  </button>
  <span>/</span>
  <button [routerLink]="'/overlays/edit/' + id" mat-button>
    {{ generalForm.get('name')!.value }}
  </button>
</div>
<mat-stepper
  [linear]="true"
  [orientation]="isMobile ? 'vertical' : 'horizontal'"
  #stepper>
  <mat-step [stepControl]="generalForm" [editable]="true">
    <form [formGroup]="generalForm">
      <ng-template matStepLabel>{{
        'ui.overlays.addEditOverlay.general' | translate
      }}</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>{{
          'ui.overlays.addEditOverlay.name' | translate
        }}</mat-label>
        <input matInput required formControlName="name" />
        <mat-error *ngIf="generalForm.get('name')!.hasError('required')">{{
          'ui.overlays.addEditOverlay.nameIsRequired' | translate
        }}</mat-error>
      </mat-form-field>
      <div>
        <button [disabled]="generalForm.invalid" mat-button matStepperNext>
          {{ 'ui.overlays.addEditOverlay.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="modelForm" [editable]="true">
    <form [formGroup]="modelForm">
      <ng-template matStepLabel>{{
        'ui.overlays.addEditOverlay.model' | translate
      }}</ng-template>

      <div #aframeWrapper [style.height]="modelForm.get('modelFile')!.value ? '500px !important' : '0px !important'" class="img-wrapper">


        <button *ngIf="modelForm.get('modelFile')!.value"
          (click)="clearModelFile()"
          class="img-delete"
          color="warn"
          mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <input
        (change)="modelFileUploaded(modelInput)"
        #modelInput
        type="file"
        fxHide />

      <button
        *ngIf="!modelFileUploading && !modelForm.get('modelFile')!.value"
        mat-raised-button
        color="accent"
        (click)="selectModelFile(modelInput)">
        {{ 'ui.overlays.addEditOverlay.selectModelFile' | translate }}
      </button>

      <mat-progress-bar
        color="accent"
        *ngIf="modelFileUploading"
        mode="determinate"
        [value]="modelFileUploadProgress"></mat-progress-bar>

      <div>
        <button mat-button matStepperPrevious>
          {{ 'ui.overlays.addEditOverlay.back' | translate }}
        </button>
        <button [disabled]="modelForm.invalid" mat-button matStepperNext>
          {{ 'ui.overlays.addEditOverlay.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{
      'ui.overlays.addEditOverlay.done' | translate
    }}</ng-template>
    <p>{{ 'ui.overlays.addEditOverlay.doneYouCanSave' | translate }}</p>
    <div>
      <button mat-button matStepperPrevious>
        {{ 'ui.overlays.addEditOverlay.back' | translate }}
      </button>
      <button
        (click)="save()"
        [disabled]="generalForm.invalid"
        mat-raised-button
        color="accent">
        {{ 'ui.overlays.addEditOverlay.save' | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
