<h2 mat-dialog-title>
  {{
    (!data.logo
      ? 'ui.logos.addEditLogo.addLogo'
      : 'ui.logos.addEditLogo.editLogo'
    ) | translate
  }}
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="w-100">
    <mat-form-field class="w-100">
      <mat-label>{{ 'ui.logos.addEditLogo.name' | translate }}</mat-label>
      <input type="text" matInput formControlName="name" required />
      <mat-error *ngIf="form.get('name')!.hasError('required')">{{
        'ui.logos.addEditLogo.nameIsRequired' | translate
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="w-100">
      <div
        class="w-100 pos-rel logo-file-wrapper"
        *ngIf="form.get('logoFile')!.value">
        <img [src]="form.get('logoFile')!.value" class="w-100" />
        <button (click)="removeLogoFile()" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <input
        (change)="logoFileChanged($event)"
        type="file"
        #logoFileInput
        fxHide
        accept=".png"
        required />
      <input type="text" matInput fxHide />
      <div fxLayout="row" class="w-100" fxLayoutAlign="center">
        <button
          (click)="logoFileInput.click()"
          mat-raised-button
          color="accent">
          {{ 'ui.logos.addEditLogo.selectLogoFile' | translate }}
        </button>
      </div>
    </mat-form-field>
    <mat-error *ngIf="form.get('logoFile')!.dirty && form.get('logoFile')!.hasError('required')">{{
      'ui.logos.addEditLogo.logoFileIsRequired' | translate
    }}</mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-button mat-dialog-close>
    {{ 'ui.logos.addEditLogo.cancel' | translate }}
  </button>
  <button color="accent" mat-button [disabled]="form.invalid" (click)="save()">
    {{ 'ui.logos.addEditLogo.save' | translate }}
  </button>
</mat-dialog-actions>
