<mat-stepper
  [linear]="false"
  [orientation]="isMobile ? 'vertical' : 'horizontal'"
  #stepper>
  <mat-step [stepControl]="generalForm" [editable]="true">
    <form [formGroup]="generalForm">
      <ng-template matStepLabel>{{
        'ui.logos.addEditLogo.general' | translate
      }}</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'ui.logos.addEditLogo.name' | translate }}</mat-label>
        <input matInput required formControlName="name" required />
        <mat-error *ngIf="generalForm.get('name')!.hasError('required')">{{
          'ui.logos.addEditLogo.nameIsRequired' | translate
        }}</mat-error>
      </mat-form-field>
      <div>
        <button [disabled]="generalForm.invalid" mat-button matStepperNext>
          {{ 'ui.logos.addEditLogo.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="logoForm" [editable]="true">
    <form [formGroup]="logoForm">
      <ng-template matStepLabel>{{
        'ui.logos.addEditLogo.logoImage' | translate
      }}</ng-template>

      <div *ngIf="logoForm.get('logoFile')!.value" class="img-wrapper">
        <img #logoImg [src]="logoForm.get('logoFile')!.value" />
        <button
          (click)="clearLogoFile()"
          class="img-delete"
          color="warn"
          mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <input
        (change)="logoFileUploaded(logoInput)"
        #logoInput
        type="file"
        fxHide
        accept=".svg" />

      <button
        *ngIf="!logoFileUploading && !logoForm.get('logoFile')!.value"
        mat-raised-button
        color="accent"
        (click)="selectLogoFile(logoInput)">
        {{ 'ui.logos.addEditLogo.selectLogoFile' | translate }}
      </button>

      <mat-progress-bar
        color="accent"
        *ngIf="logoFileUploading"
        mode="determinate"
        [value]="logoFileUploadProgress"></mat-progress-bar>

      <div>
        <button mat-button matStepperPrevious>
          {{ 'ui.logos.addEditLogo.back' | translate }}
        </button>
        <button [disabled]="logoForm.invalid" mat-button matStepperNext>
          {{ 'ui.logos.addEditLogo.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="qrForm" [editable]="true">
    <form [formGroup]="qrForm">
      <ng-template matStepLabel>{{
        'ui.logos.addEditLogo.qrCode' | translate
      }}</ng-template>

      <div *ngIf="qrForm.get('qrFile')!.value" class="img-wrapper">
        <img #qrImg [src]="qrForm.get('qrFile')!.value" />
        <button
          (click)="clearQrFile()"
          class="img-delete"
          color="warn"
          mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div *ngIf="!qrFileUploading && !qrForm.get('qrFile')!.value">
        <div #qrSvgWrapper id="qr-svg-wrapper"></div>
        <mat-form-field>
          <mat-label>{{
            'ui.logos.addEditLogo.qrColor' | translate
          }}</mat-label>
          <input
            (change)="generateQr()"
            type="color"
            matInput
            formControlName="qrColor" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>{{
            'ui.logos.addEditLogo.qrBackgroundColor' | translate
          }}</mat-label>
          <input
            (change)="generateQr()"
            type="color"
            matInput
            formControlName="qrBackgroundColor" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>{{
            'ui.logos.addEditLogo.qrPadding' | translate
          }}</mat-label>
          <input
            (change)="generateQr()"
            type="number"
            matInput
            [step]="1"
            formControlName="qrPadding" />
        </mat-form-field>
        <br />
        <button
          [disabled]="!qrImageData"
          (click)="saveQr()"
          mat-raised-button
          color="accent">
          {{ 'ui.logos.addEditLogo.acceptQr' | translate }}
        </button>
      </div>

      <mat-progress-bar
        color="accent"
        *ngIf="qrFileUploading"
        mode="determinate"
        [value]="qrFileUploadProgress"></mat-progress-bar>

      <div>
        <button mat-button matStepperPrevious>
          {{ 'ui.logos.addEditLogo.back' | translate }}
        </button>
        <button [disabled]="qrForm.invalid" mat-button matStepperNext>
          {{ 'ui.logos.addEditLogo.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="mergeForm" [editable]="true">
    <form #fabricParent [formGroup]="mergeForm">
      <ng-template matStepLabel>{{
        'ui.logos.addEditLogo.mergeImages' | translate
      }}</ng-template>

      <div *ngIf="mergeForm.get('mergedFile')!.value" class="img-wrapper">
        <img #qrImg [src]="mergeForm.get('mergedFile')!.value" />
        <button
          (click)="clearMerge()"
          class="img-delete"
          color="warn"
          mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div *ngIf="!mergedFileUploading && !mergeForm.get('mergedFile')!.value">
        <canvas id="fabric-canvas" #fabricCanvas></canvas> <br />

        <button (click)="acceptMerge()" mat-raised-button color="accent">
          {{ 'ui.logos.addEditLogo.acceptMerge' | translate }}
        </button>
      </div>

      <mat-progress-bar
        color="accent"
        *ngIf="mergedFileUploading"
        mode="determinate"
        [value]="mergedFileUploadProgress"></mat-progress-bar>

      <div>
        <button mat-button matStepperPrevious>
          {{ 'ui.logos.addEditLogo.back' | translate }}
        </button>
        <button [disabled]="mergeForm.invalid" mat-button matStepperNext>
          {{ 'ui.logos.addEditLogo.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="computeForm" [editable]="true">
    <form [formGroup]="computeForm">
      <ng-template matStepLabel>{{
        'ui.logos.addEditLogo.optimize' | translate
      }}</ng-template>
      TODO
      <div>
        <button mat-button matStepperPrevious>
          {{ 'ui.logos.addEditLogo.back' | translate }}
        </button>
        <button [disabled]="computeForm.invalid" mat-button matStepperNext>
          {{ 'ui.logos.addEditLogo.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      'ui.logos.addEditLogo.done' | translate
    }}</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>
        {{ 'ui.logos.addEditLogo.back' | translate }}
      </button>
      <button mat-button (click)="stepper.reset()">
        {{ 'ui.logos.addEditLogo.reset' | translate }}
      </button>
      <button
        [disabled]="
          false &&
          (generalForm.invalid ||
            logoForm.invalid ||
            qrForm.invalid ||
            mergeForm.invalid ||
            computeForm.invalid)
        "
        mat-raised-button
        color="accent"
        (click)="save()">
        {{ 'ui.logos.addEditLogo.save' | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
