<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="flex-start center">
  <button (click)="drawer?.toggle()" mat-icon-button>
    <mat-icon>{{ drawer?.opened ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <div
    id="logo-wrapper"
    class="cp"
    routerLink="/"
    fxLayoutGap="0.5rem"
    fxLayout="row"
    fxLayoutAlign="flex-start center">
    <img id="logo" src="/assets/images/logo.svg" />
    <span *ngIf="!isMobile"></span>
  </div>
  <span fxFlex="1 1 auto"></span>

  <button [matMenuTriggerFor]="userMenu" mat-icon-button>
    <mat-icon *ngIf="!user">more_vert</mat-icon>
    <mat-icon *ngIf="user">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item *ngIf="user">
    <mat-icon>person</mat-icon>{{ user.displayName }}
  </button>
  <button [matMenuTriggerFor]="langMenu" mat-menu-item>
    <mat-icon>translate</mat-icon>{{ 'ui.header.language' | translate }}
  </button>
  <button routerLink="/tos" mat-menu-item>
    <mat-icon>policy</mat-icon>{{ 'ui.header.tos' | translate }}
  </button>
  <button routerLink="/login" *ngIf="!user" mat-menu-item>
    <mat-icon>login</mat-icon>{{ 'ui.header.login' | translate }}
  </button>
  <button (click)="logoutClicked.emit()" *ngIf="user" mat-menu-item>
    <mat-icon>logout</mat-icon>{{ 'ui.header.logout' | translate }}
  </button>
  <button mat-menu-item>
    <mat-icon>memory</mat-icon>{{'ui.header.version' | translate}} {{appVersion}}
  </button>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <button
    (click)="changeLanguage(lang.key)"
    *ngFor="let lang of allLanguages"
    mat-menu-item>
    <mat-icon>{{
      translateService.currentLang === lang.key ? 'done' : ''
    }}</mat-icon
    >{{ lang.displayName }}
  </button>
</mat-menu>
