<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="formGroup" (submit)="sendEmail()">
    <h1>{{ 'ui.forgotPassword.forgotPassword' | translate }}</h1>

    <mat-form-field>
      <mat-label>{{ 'ui.forgotPassword.email' | translate }}</mat-label>
      <input type="email" matInput formControlName="email" required />
      <mat-error *ngIf="formGroup.get('email')!.hasError('required')"
        >{{ 'ui.forgotPassword.emailIsRequired' | translate }}</mat-error
      >
      <mat-error *ngIf="formGroup.get('email')!.hasError('email')"
        >{{ 'ui.forgotPassword.emailIsInvalid' | translate }}</mat-error
      >
    </mat-form-field>

    <br />
    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="1rem">
      <button [disabled]="formGroup.invalid" mat-raised-button color="accent" type="submit">{{ 'ui.forgotPassword.sendEmail' | translate }}</button>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="1rem">
      <button [queryParams]="{returnTo: returnTo}" routerLink="/login" mat-button color="" type="button">
        {{ "ui.signup.backToLogin" | translate }}
      </button>
    </div>

    
  </form>
</div>
